.card {
    border: solid 1px #24325fff;
    border-radius: 8px;
    padding: 10px;
    background-color: #69c8ecff;
}

.card img {
    border-radius: 6px;
}

.card_text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: left;
    padding: 20px 0px;
}
.card_body {
    padding: 3px;
    border-radius: 6px;
}